.Header,
.social-media-icon,
.social-media-block,
.social-media-icon,
.glow,
.netflix-logo,
.watch-on-netflix,
.watch-on-netflix__copy,
.navbar {
	margin: 0;
}

.Header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 5%;
	padding-top: 20px;
	align-items: center;
}

.social-media-block {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 170px;
	height: 50px;
	justify-content: space-between;
}

.social-media-icon {
	height: 50px;
	width: 50px;
}

.facebook {
	background-color: #62dcff;
}

.instagram {
	background-color: #9040ff;
}

.twitter {
	background-color: #ff33cc;
}

.glow {
	height: 125px;
	width: 400px;
	background: url(./assets/img/glowgo.svg);
}

.watch-on-netflix {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.watch-on-netflix__copy {
	text-shadow: 0px 0px 2px rgba(255, 164, 249, 0.2);
	font-size: 17px;
	color: #ffa4f9;
	font-family: "futura-pt";
	letter-spacing: 2.5px;
	font-weight: 500;
	margin-bottom: 2px;
}

.netflix-logo {
	height: 48px;
	width: 170px;
	background: url(./assets/img/netflix-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	font-family: sans-serif;
}

.navbar {
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.navbar a {
	font-family: "futura-pt";
	text-align: center;
	text-decoration: none;
	color: #62dcff;
	font-size: 1.65rem;
	letter-spacing: 0.05rem;
	text-shadow: 0px 0px 5px rgba(98, 220, 255, 0.3);
	transition: 0.2s;
}

.navbar a:first-child {
	padding-left: 0;
}

.navbar a:last-child {
	padding-right: 0;
}

.navbar a:hover {
	color: rgba(255, 255, 255, 1);
	animation-name: flicker;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(1,1,.98,.03);

	text-shadow: 	1px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px -1px 0.1rem rgba(98, 220, 255, 1),
					1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px -1px 0.1rem rgba(98, 220, 255, 1),
					0px 0px 0.1rem rgba(98, 220, 255, 1);
}

.navbar .active,
.navbar .active:hover {
	animation: none;
	color: #ff33cc;
	text-shadow: 	1px 1px 0.3rem rgba(101, 5, 32, 0.7), 
					-1px -1px 0.3rem rgba(101, 5, 32, 0.7), 
					1px 0px 0.3rem rgba(101, 5, 32, 0.7), 
					0px 1px 0.3rem rgba(101, 5, 32, 0.7),
					-1px 0px 0.3rem rgba(101, 5, 32, 0.7), 
					0px -1px 0.3rem rgba(101, 5, 32, 0.7),
					0px 0px 0.3rem rgba(101, 5, 32, 0.7),

					1px 1px 0.3rem rgba(101, 5, 32, 0.7), 
					-1px -1px 0.3rem rgba(101, 5, 32, 0.7), 
					1px 0px 0.3rem rgba(101, 5, 32, 0.7), 
					0px 1px 0.3rem rgba(101, 5, 32, 0.7),
					-1px 0px 0.3rem rgba(101, 5, 32, 0.7), 
					0px -1px 0.3rem rgba(101, 5, 32, 0.7),
					0px 0px 0.3rem rgba(101, 5, 32, 0.7),

					1px 1px 0.3rem rgba(101, 5, 32, 1), 
					-1px -1px 0.3rem rgba(101, 5, 32, 1), 
					1px 0px 0.3rem rgba(101, 5, 32, 1), 
					0px 1px 0.3rem rgba(101, 5, 32, 1),
					-1px 0px 0.3rem rgba(101, 5, 32, 1), 
					0px -1px 0.3rem rgba(101, 5, 32, 1),
					0px 0px 0.3rem rgba(101, 5, 32, 1),

					1px 1px 0.4rem rgba(101, 5, 32, 1), 
					-1px -1px 0.4rem rgba(101, 5, 32, 1), 
					1px 0px 0.4rem rgba(101, 5, 32, 1), 
					0px 1px 0.4rem rgba(101, 5, 32, 1),
					-1px 0px 0.4rem rgba(101, 5, 32, 1), 
					0px -1px 0.4rem rgba(101, 5, 32, 1),
					0px 0px 0.4rem rgba(101, 5, 32, 1),

					1px 1px 0.4rem rgba(101, 5, 32, 1), 
					-1px -1px 0.4rem rgba(101, 5, 32, 1), 
					1px 0px 0.4rem rgba(101, 5, 32, 1), 
					0px 1px 0.4rem rgba(101, 5, 32, 1),
					-1px 0px 0.4rem rgba(101, 5, 32, 1), 
					0px -1px 0.4rem rgba(101, 5, 32, 1),
					0px 0px 0.4rem rgba(101, 5, 32, 1),

					1px 1px 0.5rem rgba(101, 5, 32, 1), 
					-1px -1px 0.5rem rgba(101, 5, 32, 1), 
					1px 0px 0.5rem rgba(101, 5, 32, 1), 
					0px 1px 0.5rem rgba(101, 5, 32, 1),
					-1px 0px 0.5rem rgba(101, 5, 32, 1), 
					0px -1px 0.5rem rgba(101, 5, 32, 1),
					0px 0px 0.5rem rgba(101, 5, 32, 1),

					1px 1px 0.6rem rgba(101, 5, 32, 0.8), 
					-1px -1px 0.6rem rgba(101, 5, 32, 0.8), 
					1px 0px 0.6rem rgba(101, 5, 32, 0.8), 
					0px 1px 0.6rem rgba(101, 5, 32, 0.8),
					-1px 0px 0.6rem rgba(101, 5, 32, 0.8), 
					0px -1px 0.6rem rgba(101, 5, 32, 0.8),
					0px 0px 0.6rem rgba(101, 5, 32, 0.8);
}

@keyframes flicker {
	5% {
		text-shadow: 	1px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px -1px 0.1rem rgba(98, 220, 255, 1),
					1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px -1px 0.1rem rgba(98, 220, 255, 1),
					0px 0px 0.1rem rgba(98, 220, 255, 1);
		color: #62dcff;
	}

	10% {
		text-shadow: none;
		color: transparent;
	}
	
	15% {
		text-shadow: 	1px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px -1px 0.1rem rgba(98, 220, 255, 1),
					1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px -1px 0.1rem rgba(98, 220, 255, 1),
					0px 0px 0.1rem rgba(98, 220, 255, 1);
		color: #62dcff;
	}

	60% {
		text-shadow: none;
		color: transparent;
	}	

	65% {
		text-shadow: 	1px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px -1px 0.1rem rgba(98, 220, 255, 1),
					1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px -1px 0.1rem rgba(98, 220, 255, 1),
					0px 0px 0.1rem rgba(98, 220, 255, 1);
		color: #62dcff;
	}

	95% {
		text-shadow: none;
		color: transparent;
	}

	100% {
		text-shadow: 	1px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px -1px 0.1rem rgba(98, 220, 255, 1),
					1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px 1px 0.1rem rgba(98, 220, 255, 1),
					-1px 0px 0.1rem rgba(98, 220, 255, 1),
					0px -1px 0.1rem rgba(98, 220, 255, 1),
					0px 0px 0.1rem rgba(98, 220, 255, 1);
		color: #62dcff;
	}
}